.Landing {
  height: 100vh;

  &-Figure {
    width: 100%;
    height: 100%;
  }

  &-Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-Overlay {
    position: absolute;
    height: 100%;
    top: 0;

    &_left {
      width: 27%;
      background-color: #bf3939ef;
    }

    &_right {
      right: 0;
      width: 73%;
      background-color: #000000ad;
    }
  }

  &-Content {
    position: absolute;
    top: 0;
    width: 1300px;
    height: 100%;
    /* left: calc((100% - 1300px) / 2); */
    left: 50%;
    transform: translateX(-50%);
  }

  &-ContentInner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  &-Title {
    font-size: 56px;
    width: 550px;
    color: var(--color-secondary);
    margin-bottom: 24px;
  }

  &-Subtitle {
    font-size: 16px;
    line-height: 180%;
    color: var(--color-secondary);
    width: 440px;
    margin-bottom: 48px;
  }
}
