@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&family=PT+Serif:ital,wght@0,700;1,400&display=swap");

:root {
  --font-primary: "Manrope", sans-serif;
  --font-secondary: "PT Serif", serif;
  --color-primary: #bf3939;
  --color-secondary: #ffffff;
  --color-black: #000000;
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f6fafb;
  --color-text-primary: #333333;
  --color-text-secondary: #696969;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-primary);
}

h1,
h2 {
  margin: 0;
  font-family: var(--font-secondary);
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  display: block;
}
